

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
}

.gamestart {
    z-index: 1;
    background-color: rgb(73, 68, 62);
}